// Variables
$website-width: 1280px;
$main-color: #475C7A;
$light-color: #FCBB6D;
$medium-color: #AB6C82;
$dark-color: #685D79;
$bg-image: url('../images/background.png');

// Set Text color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff
  }
}